body {
  background-color: lavenderblush;
}

#contact-chat {
  text-align: center;
  color: coral;
}

#contact-coffee {
  text-align: center;
}

.container {
  text-align: center;
  padding-top: 50px;
}
